<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <activity
            android:name=".ui.student.StudentMainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.RegistryActivity" />
        <activity android:name=".ui.teacher.TeacherMainActivity" />
        <activity android:name=".ui.unuse.TeacherCourseActivity" />
        <activity android:name=".ui.communal.NewsActivity" />
        <activity android:name=".ui.communal.WebActivity" />
        <activity android:name=".ui.unuse.CourseAddActivity" />
        <activity android:name=".ui.unuse.CheckHomeWordActivity" />
        <activity android:name=".ui.communal.ChattingRoomActivity" />
        <activity android:name=".ui.student.course.next.StudentCourseMainActivity" />
        <activity android:name=".ui.teacher.course.TeacherAddCourseActivity" />
        <activity android:name=".ui.teacher.course.next.TeacherCourseMainActivity" />
        <activity android:name=".ui.teacher.course.next.homework.TeacherHomeworkListActivity" />
        <activity android:name=".ui.student.course.StudentJoinCourseActivity" />
        <activity android:name=".ui.teacher.course.next.sign.TeacherCheckInDetailsActivity" />
        <activity android:name=".ui.student.course.next.homework.StudentHomeworkRecordActivity" />
        <activity android:name=".ui.teacher.course.next.homework.TeacherHomeworkMarkActivity" />
        <activity android:name=".ui.communal.ChattingActivity" />


    </application>

</manifest>